In [1]:
# import the data
# sep x,y
# find out the coef , intercept
# y = m1*x1 + m2*x2 + m3*x3 + c
# lr.predict([[12,20,32]])
# calculate r2_score

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('supershop.csv')

In [4]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.Area = le.fit_transform(df['Area'])

In [6]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

In [7]:
df.shape

(50, 5)

In [8]:
df.columns

Index(['Marketing Spend', 'Administration', 'Transport', 'Area', 'Profit'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     int32
 4   Profit           50 non-null     float64
dtypes: float64(4), int32(1)
memory usage: 1.9 KB

In [10]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [11]:
df.fillna(df.mean(), inplace=True)

In [12]:
df1 = df.isnull().sum()

In [13]:
df1

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Statistical Details of the dataset

In [14]:
df.describe()

,Marketing Spend,Administration,Transport,Area,Profit
count,50.000000,50.000000,50.000000,50.000000,50.000000
mean,73721.615600,121344.639600,215331.732449,0.980000,112012.639200
std,45902.256482,28017.802755,118438.021756,0.820403,40306.180338
min,0.000000,51283.140000,0.000000,0.000000,14681.400000
25%,39936.370000,103730.875000,135028.207500,0.000000,90138.902500
50%,73051.080000,122699.795000,214983.271224,1.000000,107978.190000
75%,101602.800000,144842.180000,299469.085000,2.000000,139765.977500
max,165349.200000,182645.560000,471784.100000,2.000000,192261.830000

# Define dataset

In [15]:
x = df.drop('Profit', axis=1)
x.head()

   Marketing Spend  Administration  Transport  Area
0        114523.61       136897.80  471784.10     1
1        162597.70       151377.59  443898.53     0
2        153441.51       101145.55  407934.54     2
3        144372.41       118671.85  383199.62     1
4        142107.34        91391.77  366168.42     2

In [16]:
y = df['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split as tts
xtrain, xtest, ytrain, ytest = tts(x, y, test_size=0.30, random_state = 42)

# Applying the Multi variable Linear_regression model

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [19]:
lr = LinearRegression()

In [20]:
lr.fit(xtrain, ytrain)

LinearRegression()

In [21]:
lr.coef_

array([ 6.58652689e-01,  7.39776915e-03,  9.05526243e-02, -9.85170365e+02])

In [22]:
lr.intercept_

42589.853836501774

In [23]:
y_pred=lr.predict(xtest)
y_pred

array([127062.7226263 ,  84447.0483524 ,  90560.00450568,  43354.34903822,
       130611.97223571,  42344.49004075, 103439.94623932,  98706.69833278,
        89483.34716682, 119159.76669303, 126008.6281894 , 168052.50133863,
        89837.55679526, 150317.92807097, 172273.59773944])

In [24]:
Accuracy=r2_score(ytest,y_pred)*100
Accuracy

94.26975379073222